<!--The content below is only a placeholder and can be replaced.-->
<div class="sideMenuBar">
  <div class="menuList">
    <ul>
      <li><a routerLink="">Bands</a></li>
      <li><a routerLink="">Events</a></li>
      <li><a routerLink="">Popular</a></li>
      <li><a routerLink="">Cover Videos</a></li>
      <li><a routerLink="">New Tracks</a></li>
      <li><a routerLink="">Forum</a></li>
      <li><a routerLink="">Join Us</a></li>
      <li><a routerLink="">About Us</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
